{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% extends "::base.html.twig" %}

{% block title %}ActiviteBundle:Activite:edit{% endblock %}

{% block body %}
<h1>Welcome to the Activite:edit page</h1>
{{ form(form) }}
{% endblock %}
