{% extends "::base.html.twig" %}

{% block title %}Liste activités{% endblock %}

{% block body %}
    <nav class="navbar navbar-default">
        <div>
            <ul class="nav navbar-nav">
                <li><a href="{{ path('ActiviteBundle_Activite_edit') }}"><input type="button" class="btn btn-primary"
                                                                                name="btnAjout"
                                                                                value="Ajouter une activite"/></a></li>
            </ul>
        </div>
    </nav>
    {% if erreur!="" %}
        <div class="alert alert-danger" role="alert">
            <label>
                {{ erreur }}
            </label>
        </div>
    {% endif %}
    <form>
        <div class="table-responsive">
            <table class="table">
                <caption>Liste des activités</caption>
                <tr>
                    <th> Activite id</th>
                    <th> Designation</th>
                    <th> Type Activite</th>
                    <th> Duree Minimum</th>
                    <th> Duree Maximum</th>
                    <th> Nombre minimum d'enfants</th>
                    <th> Nombre maximum d'enfants</th>
                    <th> Durée transport</th>
                    <th> Selection</th>
                </tr>
                {% for activite in activites %}
                    <tr>
                        {% include 'ActiviteBundle:Activite:preview.html.twig' %}
                        <td>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" name="idActivites[]" value="{{ activite.id }}"
                                           class="form-check-input">
                                </label>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button type="submit" class="btn btn-primary">Supprimer</button>
                    </td>
                </tr>
            </table>
        </div>
    </form>
{% endblock %}
