{% extends "::base.html.twig" %}

{% block title %}ActiviteBundle:ActiviteFixee:index{% endblock %}

{% block body %}
<h1>Welcome to the Activite:index page</h1>
<nav class = "navbar navbar-default" >
    <div>
        <ul class = "nav navbar-nav">
            <li><a href = "{{path('ActiviteBundle_Activite_edit')}}">Ajouter une activité</a></li>
        </ul>
     </div>
</nav>
<form>
    <div class="table-responsive">
        <table class="table">
            <caption>Liste des activités</caption>
            <tr>
                <th> Activite id </th>
                <th> Designation </th>
                <th> Type Activite </th>
                <th> Duree Minimum </th>
                <th> Duree Maximum </th>
                <th> Nombre minimum d'enfants </th>
                <th> Nombre maximum d'enfants </th>
                <th> Durée transport </th>
                <th> Selection </th>
            </tr>
            {% for activite in activites %}
                {% include 'ActiviteBundle:Activite:preview.html.twig' %}
            {% endfor %}
            <tr>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td><button type="submit" class="btn btn-primary">Supprimer</button></td>
            </tr>
        </table>
        
</form>
</div>
{% endblock %}
