{% extends "::base.html.twig" %}

{% block title %}ActiviteBundle:Activite:edit{% endblock %}

{% block body %}
<h1>Welcome to the Activite:show page</h1>

 {% include 'ActiviteBundle:Activite:preview.html.twig' %}  

{% endblock %}
