{% extends "::base.html.twig" %}

{% block title %}Liste enfants{% endblock %}

{% block body %}
<nav class = "navbar navbar-default" >
    <div>
        <ul class = "nav navbar-nav">
            <li><a href = "{{path('RessourceBundle_Enfant_edit')}}"><input type="button" class="btn btn-primary" name="btnAjout" value="Ajouter un enfant"/></a></li>
        </ul>
     </div>
</nav>
{% if erreur!="" %}
    <div class="alert alert-danger" role="alert">
        <label>
            {{ erreur }}
        </label>
    </div>
{% endif %}
<form>
    <div class="table-responsive">
        <table class="table">
             <caption>Liste des Enfants</caption>
            <tr>
                <th> # </th>
                <th> Prénom </th>
                <th> Nom </th>
                <th> Identifiant </th>
                <th> Groupe </th>
                <th> Régime </th>
                <th> Est Archivé </th>
                <th> Date Arrivé</th>
                <th>Selection</th>
            </tr>
        {% for enfant in enfants %}
            <tr>
            {% include 'RessourceBundle:Enfant:preview.html.twig' %}
                <td>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" name="idEnfants[]" value="{{enfant.id}}" class="form-check-input">
                        </label>
                    </div>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            <td><button type="submit" class="btn btn-primary">Supprimer</button></td>
        </tr>
        </table>
</form>

{% endblock %}
