{% extends "::base.html.twig" %}

{% block title %}RessourceBundle:BesoinTypeRessourceController:delete{% endblock %}

{% block body %}
<h1>Welcome to the BesoinTypeRessourceController:delete page</h1>
{% endblock %}
