{% extends "::base.html.twig" %}

{% block title %}RessourceBundle:BesoinTypeRessourceController:edit{% endblock %}

{% block body %}
<h1>Welcome to the BesoinTypeRessourceController:edit page</h1>
{% endblock %}
