{% extends "::base.html.twig" %}

{% block title %}RessourceBundle:BesoinTypeRessourceController:index{% endblock %}

{% block body %}
<h1>Welcome to the BesoinTypeRessourceController:index page</h1>
{% endblock %}
