{% extends "::base.html.twig" %}

{% block title %}RessourceBundle:BesoinTypeRessourceController:show{% endblock %}

{% block body %}
<h1>Welcome to the BesoinTypeRessourceController:show page</h1>
{% endblock %}
