{% extends "::base.html.twig" %}

{% block title %}CoreBundle:Affectation:affecterEnfantActiviteObligatoire{% endblock %}

{% block body %}
<h1>Welcome to the Affectation:affecterEnfantActiviteObligatoire page</h1>
{% endblock %}
