{% extends "::base.html.twig" %}

{% block title %}CoreBundle:Affectation:affecterEnfantActiviteOption{% endblock %}

{% block body %}
<h1>Welcome to the Affectation:affecterEnfantActiviteOption page</h1>
{% endblock %}
