{% extends "::base.html.twig" %}

{% block title %}CoreBundle:Affectation:affecterEnfantActiviteObligatoire{% endblock %}

{% block body %}
    <form method="post">
        {% include 'CoreBundle:Affectation:affecter_enfant_activite_preview.html.twig' %}
    </form>
{% endblock %}
