<footer class="navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="panel-footer">
                <p>C'est mon super pied de page !</p>
            </div>
        </div>
    </div>
</footer>