<footer class="navbar-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="panel-footer">
                <p>Ce site à été réalisé par une équipe de Polytech Tours, constitué de : ...</p>
            </div>
        </div>
    </div>
</footer>