<td><a href="{{ path('RessourceBundle_TypeRessource_show',{ 'id': typeRessource.id }) }}">{{ typeRessource.id }}</td>
<td><a href="{{ path('RessourceBundle_TypeRessource_show',{ 'id': typeRessource.id }) }}">{{ typeRessource.designation }}</td>

