{% extends "::base.html.twig" %}

{% block title %}ActiviteBundle:ActiviteFixee:index{% endblock %}

{% block body %}
<h1>Welcome to the ActiviteFixee:index page</h1>
<nav class = "navbar navbar-default" >
    <div>
        <ul class = "nav navbar-nav">
            <li><a href = "{{path('ActiviteBundle_Activite_edit')}}">Ajouter une activité</a></li>
        </ul>
     </div>
</nav>
<form>
    <div class="form-group">
        <label for="sel1">Liste des enfants :</label>
        <select class="form-control" id="enfantId" name="enfant" onchange="selectEnfant(document.getElementsByName('enfant')[0].value)">
            {% for enfant in enfants %}
                <option value="{{enfant.id}}">{{ enfant.prenom ~" "~ enfant.nom}}</option>
            {% endfor %}
        </select>
<button type="submit" class="btn btn-default">Selectionner</button>
</div>   
</form>
<form>
    <div class="table-responsive">
        <table class="table" name="tableActivite">
             <caption>Liste des activités fixées</caption>
            <tr>
                <th> # </th>
                <th> Designation </th>
                <th> Type Activite </th>
                <th> Heure </th>
                <th> Jour/parité </th>
                <th> Enfant </th>
                <th> Selection </th>
            </tr>
        {% for activiteF in activitesFixees %}
            <tr>
                {% include 'ActiviteBundle:ActiviteFixee:preview.html.twig' %}  
                <td>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" name="idActiviteFixee[]" value="{{activiteF.id}}" class="form-check-input">
                        </label>
                    </div>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td></td><td></td><td></td><td></td><td></td><td></td>
            <td><button type="submit" class="btn btn-primary">Supprimer</button></td>
        </tr>
        </table>
        
</form>
</div>

{% endblock %}
