{% extends "::base.html.twig" %}

{% block title %}ActiviteBundle:ActiviteFixee:show{% endblock %}

{% block body %}
<h1>Welcome to the ActiviteFixee:show page</h1>
    {% include 'ActiviteBundle:ActiviteFixee:preview.html.twig' %}  
{% endblock %}
