{% extends "::base.html.twig" %}

{% block title %}RessourceBundle:FenetreHoraire:index{% endblock %}

{% block body %}
<h1>Welcome to the FenetreHoraire:index page</h1>
<nav class = "navbar navbar-default" >
    <div>
        <ul class = "nav navbar-nav">
            <li><a href = "{{path('RessourceBunde_FenetreHoraire_edit')}}">Ajouter une fenetre horaire</a></li>
        </ul>
     </div>
</nav>
<form>
    <div class="table-responsive">
        <table class="table">
             <caption>Fenetres horaire</caption>
            <tr>
                <th> # </th>
                <th> Lundi </th>
                <th> Mardi </th>
                <th> Mercredi </th>
                <th> Jeudi </th>
                <th> Vendredi </th>
                <th> Selection </th>
            </tr>
        {% for fh in fenetresHoraire %}
            <tr>
            {% include 'RessourceBundle:FenetreHoraire:preview.html.twig' %}
                <td>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" name="idfhs[]" value="{{fh.id}}" class="form-check-input">
                        </label>
                    </div>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td></td><td></td><td></td><td></td><td></td><td></td>
            <td><button type="submit" class="btn btn-primary">Supprimer</button></td>
        </tr>
        </table>
        
</form>

    
{% endblock %}
