{% extends "::base.html.twig" %}

{% block title %}RessourceBundle:FenetreHoraire:index{% endblock %}

{% block body %}
<h1>Welcome to the FenetreHoraire:index page</h1>



 {% for fenetreHoraire in fenetresHoraire %}
        Fenetre Horaire n° : {{fenetreHoraire.id}}
 {% include 'RessourceBundle:FenetreHoraire:preview.html.twig' %}
            
   
            
    {% endfor %}
{% endblock %}
