<td><a href="{{ path('ActiviteBundle_TypeActivite_show',{ 'id': typeActivite.id }) }}">{{ typeActivite.id }}</td>
<td><a href="{{ path('ActiviteBundle_TypeActivite_show',{ 'id': typeActivite.id }) }}">{{ typeActivite.designation }}</td>