{% extends "::base.html.twig" %}

{% block title %}Voir type activité{% endblock %}

{% block body %}
    <nav class="navbar navbar-default">
        <div>
            <ul class="nav navbar-nav">
                <li><a href="{{ path('ActiviteBundle_TypeActivite_edit',{ 'id': typeActivite.id }) }}"><input
                                type="button" class="btn btn-primary" name="btnAjout" value="Modifier"/></a></li>
                <li><a href="{{ path('ActiviteBundle_TypeActivite_delete',{ 'id': typeActivite.id }) }}"><input
                                type="button" class="btn btn-primary" name="btnAjout" value="Supprimer"/></a></li>
            </ul>
        </div>
    </nav>

    <div class="row">
        <div class="col-sm-4">
            <!--Sidebar content-->
            <div class="table-responsive">
                <table class="table">
                    <caption> Informations générals</caption>
                    <tr>
                        <td> Designation :</td>
                        <td> {{ typeActivite.designation }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="table-responsive">
                <table class="table">
                    <caption>Liste des activités</caption>
                    <tr>
                        <th> Activite id</th>
                        <th> Designation</th>
                        <th> Type Activite</th>
                        <th> Duree Minimum</th>
                        <th> Duree Maximum</th>
                        <th> Nombre minimum d'enfants</th>
                        <th> Nombre maximum d'enfants</th>
                        <th> Durée transport</th>
                    </tr>
                    {% for activite in typeActivite.activites %}
                        <tr>
                            {% include 'ActiviteBundle:Activite:preview.html.twig' %}
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
