{% extends "::base.html.twig" %}

{% block title %}ActiviteBundle:ActiviteObligatoire:edit{% endblock %}

{% block body %}
<h1>Welcome to the ActiviteObligatoire:edit page</h1>
  {{ form(form) }}
{% endblock %}
