{% extends "::base.html.twig" %}

{% block title %}ActiviteBundle:Activite:show{% endblock %}

{% block body %}
<h1>Welcome to the Activite:show page</h1>
 {% include 'ActiviteBundle:ActiviteObligatoire:preview.html.twig' %}  
{% endblock %}
