{% extends "::base.html.twig" %}

{% block title %}RessourceBundle:Ressource:show{% endblock %}

{% block body %}
<h1>Welcome to the Ressource:show page</h1>

Ressource n° : {{ressource.id}}
     Designation : {{ressource.designation}}
     
     
{% endblock %}
