{% extends "::base.html.twig" %}

{% block title %}UtilisateurBundle:Utilisateur:edit{% endblock %}

{% block body %}
<h1>Welcome to the Utilisateur:edit page</h1>
    {{ form(form) }}
{% endblock %}
