{% extends "::base.html.twig" %}

{% block title %}UtilisateurBundle:Utilisateur:index{% endblock %}

{% block body %}
<h1>Welcome to the Utilisateur:index page</h1>
    {% for utilisateur in utilisateurs %}
        <li>{{ utilisateur.login }}</li>
    {% endfor %}
{% endblock %}
