{% extends "::base.html.twig" %}

{% block body %}
    <div class="row" style="padding-top: 30px">
        <div class="col-lg-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Enfants</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="#">Enfants</a></li>
                        <li><a href="#">Groupe</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Activités</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="#">Liste Activités</a></li>
                        <li><a href="#">Types activités</a></li>
                        <li><a href="#">Ressource</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Utilisateurs</h3>
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 200px">
        <div class="col-lg-12">
            <div id="logo">
                <center><img alt="logo" src="{{ asset('/Images/logo.png') }}" /></center>
            </div>
        </div>
    </div>
{% endblock %}


