C'est ma page d'accueil!! This is the only home web page
<ul>
    <li>Activité
        <ul>
            <li><a href="app_dev.php/activite/edit">Modifier</a></li>
            <li><a href="app_dev.php/activite/index">Lister</a></li>
        </ul>
    </li>
    <li>Ressource
        <ul>
            <li><a href="app_dev.php/ressource/edit">Modifier</a></li>
            <li><a href="app_dev.php/ressource/index">Lister</a></li>
        </ul>
    </li>
    <li>Véhicule
        <ul>
            <li><a href="app_dev.php/vehicule/edit">Modifier</a></li>
            <li><a href="app_dev.php/vehicule/index">Lister</a></li>
        </ul>
    </li>
    <li>Utilisateur
        <ul>
            <li><a href="app_dev.php/utilisateur/edit">Modifier</a></li>
            <li><a href="app_dev.php/utilisateur/index">Lister</a></li>
        </ul>
    </li>
</ul>