{% extends "::base.html.twig" %}

{% block title %}ActiviteBundle:Jour:index{% endblock %}

{% block body %}
<h1>Welcome to the Jour:index page</h1>
{% for jour in jours %}
    Activite Fixee n° : {{jour.id}}
    {% include 'ActiviteBundle:Jour:preview.html.twig' %}  
{% endfor %}

{% endblock %}
