{% extends "::base.html.twig" %}

{% block title %}Liste groupes{% endblock %}

{% block body %}
    <nav class="navbar navbar-default">
        <div>
            <ul class="nav navbar-nav">
                <li><a href="{{ path('RessourceBundle_Groupe_edit') }}"><input type="button" class="btn btn-primary"
                                                                               name="btnAjout"
                                                                               value="Ajouter un groupe"/></a></li>
            </ul>
        </div>
    </nav>
    <form>
        <div class="table-responsive">
            <table class="table">
                <caption>Liste des groupes</caption>
                <tr>
                    <th>#</th>
                    <th>Nom du groupe</th>
                    <th></th>
                </tr>
                {% for groupe in groupes %}
                    <tr>
                        {% include 'RessourceBundle:Groupe:preview.html.twig' %}
                        <td>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" name="idGroupes[]" value="{{ groupe.id }}"
                                           class="form-check-input">
                                </label>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <button type="submit" class="btn btn-primary">Supprimer</button>
                    </td>
                </tr>
            </table>
        </div>
    </form>
{% endblock %}
