<td><a href="{{path('RessourceBundle_Groupe_show',{ 'id': groupe.id })}}"> {{groupe.id}}</a></td>
<td><a href="{{path('RessourceBundle_Groupe_show',{ 'id': groupe.id })}}"> {{groupe.designation}}</a></td>


